<h3>ngSwitch Demo</h3>

<button class="btn btn-link" (click)="setChoice(1)">Elephant</button>
<button class="btn btn-link" (click)="setChoice(2)">Crocldile</button>
<button class="btn btn-link" (click)="setChoice(3)">Giraffe</button>
<button class="btn btn-link" (click)="setChoice(4)">Lion</button>
<button class="btn btn-link" (click)="setChoice(5)">Pithon</button>

<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">
    <div class="row">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/African_Bush_Elephant.jpg/220px-African_Bush_Elephant.jpg" alt="">
      </div>
      <div class="col">
        Elephants are large mammals of the family Elephantidae
        in the order Proboscidea. Three species are currently 
        recognised: the African bush elephant (Loxodonta africana), 
        the African forest elephant (L. cyclotis), and the Asian elephant 
        (Elephas maximus). Elephants are scattered throughout sub-Saharan 
        Africa, South Asia, and Southeast Asia. Elephantidae is the only 
        surviving family of the order Proboscidea; other, now extinct, 
        members of the order include deinotheres, gomphotheres, mastodons, 
        anancids and stegodontids; Elephantidae itself also contains several 
        now extinct groups, such as the mammoths and straight-tusked elephants.
      </div>
    </div>
  </div>
  <div *ngSwitchCase="2">
    <div class="row">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Pangil_Crocodile_Park_Davao_City.jpg/220px-Pangil_Crocodile_Park_Davao_City.jpg" alt="">
      </div>
      <div class="col">
        Crocodiles (subfamily Crocodylinae) or true crocodiles are large 
        semiaquatic reptiles that live throughout the tropics in Africa, 
        Asia, the Americas and Australia. Crocodylinae, all of whose members 
        are considered true crocodiles, is classified as a biological subfamily. 
        A broader sense of the term crocodile, Crocodylidae that includes 
        Tomistoma, is not used in this article. The term crocodile here applies 
        to only the species within the subfamily of Crocodylinae. The term is 
        sometimes used even more loosely to include all extant members of the 
        order Crocodilia, which includes the alligators and caimans (family 
        Alligatoridae), the gharial and false gharial (family Gavialidae), 
        and all other living and fossil Crocodylomorpha.
      </div>
    </div>
  </div>
  <div *ngSwitchCase="3">
    <div class="row">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Giraffe_Mikumi_National_Park.jpg/220px-Giraffe_Mikumi_National_Park.jpg" alt="">
      </div>
      <div class="col">
        The giraffe (Giraffa) is a genus of African even-toed ungulate mammals, 
        the tallest living terrestrial animals and the largest ruminants. 
        Taxonomic classifications of one to eight extant giraffe species have 
        been described, based upon research into the mitochondrial and nuclear 
        DNA, as well as morphological measurements of Giraffa, but the 
        International Union for Conservation of Nature currently recognises only 
        one species, Giraffa camelopardalis, the type species, with nine 
        subspecies. Seven other species are extinct, prehistoric species 
        known from fossils.
      </div>
    </div>
  </div>
  <div *ngSwitchCase="4">
    <div class="row">
      <div class="col">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Lion_waiting_in_Namibia.jpg/220px-Lion_waiting_in_Namibia.jpg" alt="">
      </div>
      <div class="col">
        The lion (Panthera leo) is a species in the family Felidae; it is a 
        muscular, deep-chested cat with a short, rounded head, a reduced neck 
        and round ears, and a hairy tuft at the end of its tail. The lion is 
        sexually dimorphic; males are larger than females with a typical weight 
        range of 150 to 250 kg (330 to 550 lb) for males and 120 to 182 kg (265 
        to 400 lb) for females. Male lions have a prominent mane, which is the 
        most recognisable feature of the species. A lion pride consists of a few 
        adult males, related females and cubs. Groups of female lions typically 
        hunt together, preying mostly on large ungulates. The species is an apex 
        and keystone predator, although they scavenge when opportunities occur. 
        Some lions have been known to hunt humans, although the species typically does not.
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>
    No content available for this selection. Sorry for the inconvenience
  </div>
</div>
